langchain==0.2.16
langgraph==0.2.34
langchain-community==0.2.16
langchain-core==0.2.38
langchain-groq
langchain-openai==0.1.25

faiss-cpu==1.14.2
tavily-python==0.5.0

beautifulsoup4==4.12.3
bs4==0.0.2
requests==2.32.3

pydantic==2.9.2

langchain-text-splitters==0.2.4
python-dotenv==1.0.1
PyYAML==6.0.2

fastapi==0.115.0
uvicorn==0.30.6

motor==3.6.0
pymongo==4.9.1

streamlit==1.38.0

langchain-qdrant==0.1.4
python-multipart==0.0.9

sentence-transformers==3.0.1
pypdf==5.0.0